* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ddd;
  overflow: hidden;
}
header h1 {
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  margin-top: 3%;
}
button {
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  width: 25%;
  height: 200%;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  color: #ecf0f1;
  transition: background-color 0.3s;
  cursor: pointer;
}
.cancelButton {
  background-color: #e67e22;
}
.cancelButton:hover {
  background-color: #d35400;
}
.confirmButton {
  background-color: #2ecc71;
}
.confirmButton:hover {
  background-color: #27ae60;
}
.addModuleButton {
  background-color: #757575;
  width: 60%;
  margin-right: 50px;
}
.addModuleButton:hover {
  background-color: #9e9e9e;
}
.saveScheduleButton {
  background-color: #757575;
  width: 60%;
  margin-left: 50px;
}
.saveScheduleButton:hover {
  background-color: #9e9e9e;
}
#deleteModuleButton {
  background-color: #ff1744;
  width: 60%;
  align-self: center;
  margin-top: 60%;
}
#deleteModuleButton:hover {
  background-color: #ff5252;
}
#confirmScheduleButton {
  background-color: #2ecc71;
  width: 60%;
  height: 7%;
  align-self: center;
}
#confirmScheduleButton:hover {
  background-color: #27ae60;
}
.disabled {
  opacity: 0.65;
  pointer-events: none;
}
.focusSchedule {
  background-color: #b6b6b6;
}
i {
  margin-left: 10px;
  align-self: center;
  cursor: pointer;
}
.sidebar {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background: #a0a0a0;
  text-align: center;
  color: #5a5a5a;
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}
.sidebar .nav-title {
  font-size: 20px;
  font-weight: 400;
  background: #5a5a5a;
  color: #a0a0a0;
  padding: 15px;
}
.sidebar .nav-body {
  height: 100%;
  overflow: hidden;
}
.sidebar .divider {
  text-align: left;
  cursor: pointer;
}
.sidebar .divider h4 {
  padding: 10px;
  border-bottom: solid 2px #5a5a5a;
  -webkit-transition: all 0.3s;
}
.sidebar .divider h4:hover {
  color: #fff;
}
.show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#sidebarButton {
  width: 30px;
  height: 30px;
  background: #707070;
  position: absolute;
  right: 100%;
  top: 1%;
  display: block;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 18px;
  outline: none;
}
#sidebarButton:hover {
  color: #fff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main p {
  margin: 3% 0 3% 0;
}
main #schedule-name-div {
  display: flex;
  margin: 6% 0 4% 0;
}
main #schedule-name-div #schedule-name {
  text-shadow: 0 1px 0 #fff;
  font-size: 145%;
  font-weight: bold;
}
main .grid-container {
  display: grid;
  width: 80vw;
  height: 50vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
  margin-bottom: 4%;
}
main .grid-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-color: transparent;
  color: black;
  font-size: smaller;
}
main .grid-container a:hover {
  background-color: #f28f8f;
}
main .grid-container a p {
  text-align: center;
}
main .grid-container a,
main .grid-container a:hover {
  text-decoration: none;
}
.modal-base {
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 46vw;
  height: 70vh;
  top: 8vh;
  left: 33vw;
  border-radius: 15px;
  background-color: #eceff1;
}
#addModule {
  display: none;
}
#addModule a {
  text-decoration: none;
  align-self: flex-end;
  margin-right: 3%;
  font-size: 180%;
  font-weight: bold;
  color: #e91e63;
}
#addModule a:hover {
  color: #ad1457;
}
#addModule #aM-content {
  display: flex;
  height: 66%;
  align-items: center;
  flex-direction: column;
}
#addModule #aM-content h2 {
  margin: 10% 0 35% 0;
}
#addModule form {
  display: flex;
  flex-direction: column;
}
#addModule form div:first-child {
  display: flex;
  flex-direction: row;
}
#addModule form div:first-child label {
  width: 100px;
}
#addModule form div:first-child input {
  margin-left: 5px;
}
#addModule form div:nth-child(4) {
  display: flex;
  flex-direction: row;
}
#addModule form div:nth-child(4) label {
  width: 100px;
}
#addModule form div:nth-child(4) input {
  margin-left: 5px;
}
#addModule form div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 87%;
}
#showModule {
  display: none;
}
#showModule a {
  text-decoration: none;
  align-self: flex-end;
  margin-right: 3%;
  font-size: 180%;
  font-weight: bold;
  color: #e91e63;
}
#showModule a:hover {
  color: #ad1457;
}
#showModule #sM-content {
  display: flex;
  height: 66%;
  align-items: center;
  flex-direction: column;
}
#showModule #sM-content h2 {
  margin: 10% 0 35% 0;
}
#showModule form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
#showModule form #sM-name {
  display: flex;
}
#showModule form #sM-name label {
  width: 100px;
}
#showModule form #sM-ects {
  display: flex;
}
#showModule form #sM-ects label {
  width: 100px;
}
#scheduleModal {
  display: none;
}
#scheduleModal a {
  text-decoration: none;
  align-self: flex-end;
  margin-right: 3%;
  font-size: 180%;
  font-weight: bold;
  color: #e91e63;
}
#scheduleModal a:hover {
  color: #ad1457;
}
#scheduleModal #scheduleModal-content {
  display: flex;
  height: 66%;
  align-items: center;
  flex-direction: column;
}
#scheduleModal #scheduleModal-content h2 {
  margin: 10% 0 35% 0;
}
#scheduleModal #scheduleModal-content #pagination {
  margin-top: 3%;
}
#scheduleModal #scheduleModal-list {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 179%;
}
#scheduleModal #scheduleModal-list .scheduleModal-entry {
  justify-content: center;
  align-self: stretch;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1%;
  border: 1px solid black;
}
#scheduleModal #scheduleModal-list .scheduleModal-entry:hover {
  border: 1px solid white;
  cursor: pointer;
}
#scheduleModal #scheduleModal-list label {
  margin-right: 4%;
}
.reqWarning {
  color: red;
}
.bg-dimmed {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
#buttonDiv {
  display: flex;
  width: 50%;
  height: 3vh;
}
