* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ddd;
}
body header h1 {
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  color: red;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .grid-container {
  display: grid;
  width: 80vw;
  height: 50vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
}
body main .grid-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-color: transparent;
  color: black;
  font-size: smaller;
}
body main .grid-container a:hover {
  background-color: #f28f8f;
}
body main .grid-container a p {
  text-align: center;
}
body main .grid-container a,
body main .grid-container a:hover {
  text-decoration: none;
}
.modal-switch-container {
  flex-direction: column;
  position: fixed;
  border-radius: 15px;
  background-color: #eceff1;
  display: none;
}
.modal-switch:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.modal-switch:target .modal-switch-container {
  display: flex;
}
.modal-switch:target:before {
  display: block;
}
