* {
  margin: 0;
  padding: 0;

  body {
    font-family: "Roboto", sans-serif;
    background-color: #ddd;

    header {
      h1 {
        text-align: center;
        text-shadow: 0 1px 0 #fff;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;

      .grid-container {
        display: grid;
        width: 80vw;
        height: 50vh;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 2px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: lightcoral;
          border-color: transparent;
          color: black;
          font-size: smaller;
          &:hover {
            background-color: #f28f8f;
          }

          p {
            text-align: center;
          }
        }

        a,
        a:hover {
          text-decoration: none;
        }
      }
    }

    .modal-switch {
      &-container {
        flex-direction: column;
        position: absolute;
        width: 80vw;
        height: 70vh;
        top: 8vh;
        left: 10vw;
        justify-content: space-around;
        border-radius: 15px;
        background-color: #eceff1;
        display: none;

        a {
          text-decoration: none;
        }

        form {
          display: flex;
          flex-direction: column;
        }

        .modal-buttons {
          display: flex;
          justify-content: space-around;
          flex-grow: 0.05;

          button {
            padding: 0;
            overflow: hidden;
            border-width: 0;
            outline: none;
            width: 25%;
            font-weight: bold;
            border-radius: 2px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
            color: #ecf0f1;
            transition: background-color 0.3s;
          }

          & #first {
            background-color: #e67e22;
            &:hover {
              background-color: #d35400;
            }
          }

          & #second {
            background-color: #2ecc71;
            &:hover {
              background-color: #27ae60;
            }
          }
        }
      }

      // dimmed background cover for the modal view
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
      }

      // modal = on = visible
      &:target {
        .modal-switch {
          &-container {
            display: flex;
          }
        }

        &:before {
          display: block;
        }
      }
    }
  }
}
