* {
  margin: 0;
  padding: 0;
}
* body {
  font-family: "Roboto", sans-serif;
  background-color: #ddd;
  overflow: hidden;
}
* body header .sidebar {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background: #a0a0a0;
  text-align: center;
  color: #5a5a5a;
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}
* body header .sidebar .nav-title {
  font-size: 20px;
  font-weight: 400;
  background: #5a5a5a;
  color: #a0a0a0;
  padding: 15px;
}
* body header .sidebar .nav-body {
  height: 100%;
  overflow: hidden;
}
* body header .sidebar .divider {
  text-align: left;
  cursor: pointer;
}
* body header .sidebar .divider h4 {
  padding: 10px;
  border-bottom: solid 2px #5a5a5a;
  -webkit-transition: all 0.3s;
}
* body header .sidebar .divider h4:hover {
  color: #fff;
}
* body header .show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.68, 0, 0.265, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* easeInOutBack */
}
* body header .animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
* body header button {
  width: 30px;
  height: 30px;
  background: #707070;
  position: absolute;
  right: 100%;
  top: 1%;
  display: block;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 18px;
  outline: none;
}
* body header button:hover {
  color: #fff;
}
* body header h1 {
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  margin-top: 3%;
}
* body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body main p {
  margin: 3% 0 3% 0;
}
* body main #schedule-name-div {
  display: flex;
  margin: 6% 0 4% 0;
}
* body main #schedule-name-div #schedule-name {
  text-shadow: 0 1px 0 #fff;
  font-size: 145%;
  font-weight: bold;
}
* body main #schedule-name-div i {
  margin-left: 10px;
  align-self: center;
  cursor: pointer;
}
* body main .grid-container {
  display: grid;
  width: 80vw;
  height: 50vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
  margin-bottom: 4%;
}
* body main .grid-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-color: transparent;
  color: black;
  font-size: smaller;
}
* body main .grid-container a:hover {
  background-color: #f28f8f;
}
* body main .grid-container a p {
  text-align: center;
}
* body main .grid-container a,
* body main .grid-container a:hover {
  text-decoration: none;
}
* body .addModule-modal {
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 39vw;
  height: 70vh;
  top: 8vh;
  left: 33vw;
  border-radius: 15px;
  background-color: #eceff1;
  display: none;
}
* body .addModule-modal a {
  text-decoration: none;
  align-self: flex-end;
  margin-right: 3%;
  font-size: 180%;
  font-weight: bold;
  color: #e91e63;
}
* body .addModule-modal a:hover {
  color: #ad1457;
}
* body .addModule-modal .addModule-modal-content {
  display: flex;
  height: 66%;
  align-items: center;
  flex-direction: column;
}
* body .addModule-modal .addModule-modal-content h2 {
  margin: 10% 0 35% 0;
}
* body .addModule-modal form {
  display: flex;
  flex-direction: column;
}
* body .addModule-modal form #modul-name-div {
  display: flex;
}
* body .addModule-modal form #modul-name-div label {
  width: 100px;
}
* body .addModule-modal form #modul-name-div input {
  margin-left: 5px;
}
* body .addModule-modal form #modul-ects-div {
  display: flex;
}
* body .addModule-modal form #modul-ects-div label {
  width: 100px;
}
* body .addModule-modal form #modul-ects-div input {
  margin-left: 5px;
}
* body .addModule-modal .addModule-modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 87%;
}
#reqWarning {
  color: red;
}
.bg-dimmed {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
button {
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  width: 25%;
  height: 200%;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  color: #ecf0f1;
  transition: background-color 0.3s;
  cursor: pointer;
}
#first {
  background-color: #e67e22;
}
#first:hover {
  background-color: #d35400;
}
#second {
  background-color: #2ecc71;
}
#second:hover {
  background-color: #27ae60;
}
#addModule {
  background-color: #757575;
  width: 60%;
  margin-right: 50px;
}
#addModule:hover {
  background-color: #9e9e9e;
}
#saveSchedule {
  background-color: #757575;
  width: 60%;
  margin-left: 50px;
}
#saveSchedule:hover {
  background-color: #9e9e9e;
}
#buttonDiv {
  display: flex;
  width: 50%;
  height: 3vh;
}
