* {
  margin: 0;
  padding: 0;
}
* body {
  font-family: "Roboto", sans-serif;
  background-color: #ddd;
}
* body header h1 {
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}
* body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body main .grid-container {
  display: grid;
  width: 80vw;
  height: 50vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
}
* body main .grid-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-color: transparent;
  color: black;
  font-size: smaller;
}
* body main .grid-container a:hover {
  background-color: #f28f8f;
}
* body main .grid-container a p {
  text-align: center;
}
* body main .grid-container a,
* body main .grid-container a:hover {
  text-decoration: none;
}
* body .modal-switch-container {
  flex-direction: column;
  position: absolute;
  width: 80vw;
  height: 70vh;
  top: 8vh;
  left: 10vw;
  justify-content: space-around;
  border-radius: 15px;
  background-color: #eceff1;
  display: none;
}
* body .modal-switch-container a {
  text-decoration: none;
}
* body .modal-switch-container form {
  display: flex;
  flex-direction: column;
}
* body .modal-switch-container .modal-buttons {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.05;
}
* body .modal-switch-container .modal-buttons button {
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  width: 25%;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  color: #ecf0f1;
  transition: background-color 0.3s;
}
* body .modal-switch-container .modal-buttons #first {
  background-color: #e67e22;
}
* body .modal-switch-container .modal-buttons #first:hover {
  background-color: #d35400;
}
* body .modal-switch-container .modal-buttons #second {
  background-color: #2ecc71;
}
* body .modal-switch-container .modal-buttons #second:hover {
  background-color: #27ae60;
}
* body .modal-switch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
* body .modal-switch:target .modal-switch-container {
  display: flex;
}
* body .modal-switch:target:before {
  display: block;
}
